@font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold'),
    url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-style: Bold;
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSansRegular';
  font-style: Regular;
  font-weight: 400;
  src: local('NotoSansRegular'),
    url('./assets/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansBold';
  font-style: Bold;
  font-weight: 700;
  src: local('NotoSansBold'),
    url('./assets/fonts/NotoSans-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'NotoSansRegular', sans-serif;
  color: #666;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #fff;
  font-family: monospace;
  border-radius: 5px;
  padding: 2em;
}

.comment {
  color: #d6d6d6;
}

.header__title {
  font-family: PoppinsBold;
  color: #076eda;
  font-size: 2rem;
}

.column--width {
  width: 100%;
}

.mobile__img {
  display: block;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  border: 2px solid #d6d6d6;
}

h3 > span {
  color: #666;
  font-size: 1.5rem;
  font-weight: bold;
}

.screen__type {
  font-weight: bold;
}

.screen__context {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  width: 90%;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1.5em;
}
